name: CI
on: # rebuild any PRs and main branch changes
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Update Checksums
        run: |
          python update_checksums.py

      - uses: actions/upload-artifact@v4
        name: Upload Checksums
        with:
          name: sha256_checksums.json
          path: sha256_checksums.json

  update-checksums:
    needs: [build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: sha256_checksums.json
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'build: update checksums'
          title: Update checksums
          body: |
            - Updates the checksum file for changes on `main`
            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: update-checksums-file
          delete-branch: true
          add-paths: |
            sha256_checksums.json
